.login
{
    align-items: center;
    padding: 20% 20% 20% 20%;
    
}
.box{
    background-image: url(./pexels-marta-branco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.textfiled{
    width: 2px;
}
button{
    border-radius: 20%;
}